@media print {
    #ideas,
    #contact,
    .img-contact-us,
    .blocks,
    .tm-sidebar,
    #about,
    .heading,
    form {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

.tm-sidebar,
.tm-content-box,
.blocks {
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
}

section {
    position: relative;
}

section::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-top: 0 solid transparent;
    border-left: 300px solid #87CEFA;
}

.tm-banner {
    background: #f5f5f5;
}

.tm-banner-inner {
    background-color: #fff;
}

img {
    width: 100%;
}

.flex-2-col {
    display: flex;
}

.box-bg > .tm-box-bg-title:hover {
    background-color: #87CEFA;
    color: #ffffff;
}

.tm-nav-item:hover {
    background-color: #D3D3D3FF;
}

.tm-section-description::first-letter,
.tm-banner-text::first-letter {
    font-size: 30px;
    color: #87CEFA;
    padding-left: 30px;
}

h2 + p {
    font-style: italic;
}

.carousel-content  h2 {
    color:gainsboro;
    letter-spacing: 5px;
}

.text::after {
    content: "New";
    font-size: 11px;
    margin-left: 0.1%;
    color: #FF0000FF;
    position: absolute;
    margin-bottom: 2px;
}

.heading a {
    color: #000000;
}

ol a:visited,
.ol a:focus {
    text-decoration: underline;
}

ol a:hover {
    color: #87CEFA;
    border-bottom: 1px solid #87CEFA;
}

.box-work p::first-letter {
    font-size: 30px;
    color: #000000;
}

.box-work:nth-child(even) {
    background-color: #D3D3D3FF;
}

.mandatory-field {
    position: relative;
}

.mandatory-field::after {
    position: absolute;
    content: "\002A";
    color: #FF0000FF;
    display: inline-block;
}

.contact-form {
    text-align: right;
}

.form-group-2-col-left {
    width: 50%;
}

.form-group-2-col-right {
    width: 50%;
}

.btn {
    color: #87CEFA;
    background: #FFFFFF;
    border: 1px solid #87CEFA;
}

.submit-btn:hover {
    color: #FFFFFF;
    background: #87CEFA;
    border: none;
}

.boxes:nth-child(odd) {
    background: #D3D3D3FF;
}

